@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@600&display=swap");

#formC2 {
    display:block;
    position: absolute;
    width: 21rem;
    height: 50% auto;
    padding: 1rem;
    flex-direction: column;
    background: #fff;
    border-radius: 10px;
    justify-content: center;
    justify-items: end;
    align-items: center;
    align-content: flex-start;
    overflow:auto;
    z-index: 1;
    box-shadow: 1px 1px 100vh #00000094 ;
}
#formC2 h1 {
  font-size: 1.4rem;
  border-left: 5px solid dodgerblue;
  padding: 10px;
  color: #000;
  letter-spacing: 5px;
  margin-bottom: 60px;
  font-weight: bold;
  padding-left: 10px;
}
#formC2 .inputbox {
  width: 15rem;
  height: 2rem;
  margin-bottom: 50px;
}
#formC2 .inputbox input {
  display: flex;
  position: relative;
  justify-content: center;
  justify-items: center;
  left: 30px;
  top: 0;
  width: 100%;
  border: 2px solid #000;
  background: none;
  padding: 10px;
  border-radius: 10px;
}

#formC2 .inputbox label {
  display: flex;
  position: relative;
  left: 30px;
  top: 0;
  font-size: 0.9em;
  font-family: sans-serif;
}

#btnN2{
  width: 80%;
  background: #5b88a5;
  color: #fff;
  border:2px solid #000000;
  border-radius: 30px;
}

#btnN2:hover {
  background: #243a69;
  transition: all .3s;
}

#btnN2:not(:hover){
  background: #5b88a5;
  transition: all .3s;
}

@media screen and (max-width : 700px) {
  #formC2 {
    width: 15rem;
    height: auto;
  }
#formC2 h1 {
  font-size: 1rem;
}
#formC2 .inputbox {
  width: 12rem;
  height: 1.5rem;
}
#formC2 .inputbox input {
  width: 80%;
}

#formC2 .inputbox label {
  font-size: 0.75em;
}

#btnN2{
  width: 70%;
}

}