@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@600&display=swap");

#divtotalC{
  display: flex;
  position: fixed;
  background: linear-gradient(rgba(90, 90, 90, 0.75), rgba(255, 255, 255, 0.75)), url(./img/fondoservice.png) no-repeat center center ;
  background-size: cover;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  overflow:auto;
  top: 0;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
    
}

#formCP {
    display:flex;
    position: fixed;
    width: 21rem;
    height: auto;
    padding: 1rem;
    flex-direction: column;
    background: #fff;
    border-radius: 10px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: flex-start;
    overflow:auto;
    z-index: 1;
    box-shadow: 2px 2px 2px #00000094 ;
}
#formCP h1 {
  font-size: 1.4rem;
  border-left: 5px solid dodgerblue;
  padding: 10px;
  color: #000;
  letter-spacing: 5px;
  margin-bottom: 60px;
  font-weight: bold;
  padding-left: 10px;
}
#formCP .inputbox {
  width: 15rem;
  height: 2rem;
  margin-bottom: 50px;
}
#formCP .inputbox input {
  display: flex;
  position: relative;
  justify-content: center;
  justify-items: center;
  left: 0;
  top: 0;
  width: 100%;
  border: 2px solid #000;
  background: none;
  padding: 10px;
  border-radius: 10px;
}

#formCP .inputbox label {
  display: flex;
  position: relative;
  left: 0;
  top: 0;
  font-size: 1.5em;
  font-family: sans-serif;
}

#btnC{
  display: flex;
  position: relative;
  width: 100%;
  background: #5b88a5;
  color: #fff;
  border:2px solid #000000;
  border-radius: 30px;
  justify-content: center;
}

#btnC:hover {
  background: #243a69;
  transition: all .3s;
}

#btnC:not(:hover){
  background: #5b88a5;
  transition: all .3s;
}

.panelcli{
  display: flex;
  position: absolute;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: calc(100vh - 100px);
  margin-top: 100px;
  overflow:auto;
  top: 0;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

.ulcli2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100% auto;
  margin-top:25rem;
}

.licli{
  display: flex;
  list-style: none;
  position: relative;
  margin: 1rem 0rem 0rem -2rem;
  height: fit-content;
  justify-content: space-between;
  text-align: left;
  justify-items:center;
  justify-self: center;
  align-self: center;
  align-items:center;
  align-content: center;
  background-color: #5b88a5;
  background-size: cover;
  padding: 0.5rem;
  border-radius: 20px;
  flex-wrap: wrap;
  width: 90vw;
  flex-grow: 1;
  font-size: clamp(.7rem, 0.3vw + 0.4rem, 3rem);
  
}

@media screen and (max-width : 700px) {
  #formCP {
    width: 15rem;
    height: auto;
  }
#formCP h1 {
  font-size: 1rem;
}
#formCP .inputbox {
  width: 12rem;
  height: 1.5rem;
}
#formCP .inputbox input {
  width: 80%;
}

#formCP .inputbox label {
  font-size: 0.75em;
}

#btnC{
  width: 70%;
}

}