@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nabla&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Mono:wght@700&family=Roboto:ital,wght@0,300;1,100;1,300&display=swap');

#pageinicio {
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(90, 90, 90, 0.75), rgba(255, 255, 255, 0.75)), url(../front/img/fondoservice.png) no-repeat center center;
    min-height: 100vh;
    min-width: 100vw;
    overflow: auto;
    top: 0;
    left: 0;
}

.t1 {
    display: flex;
    position: relative;
    justify-self: center;
    text-transform: uppercase;
    font-size: calc(5rem);
    font-weight: 990;
    letter-spacing: .175ch;
    color: white;
    -webkit-text-stroke: 2px black;
    text-shadow: 4px 4px black;
}

.divsegundo{
    display: flex;
    position: relative;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    align-self: center;
    align-items: center;
    justify-items: center;
    animation:blur2 .5s ease-out ;
} 

.t2 {
    text-transform: uppercase;
    font-size: calc(2.3rem);
    font-weight: 990;
    letter-spacing: -.175ch;
    color: lightgreen;
    -webkit-text-stroke: 2px black;
    text-shadow: 4px 4px black;
}

.divsegundo p {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: calc(1.5rem);
    font-weight: 990;
    letter-spacing: -.175ch;
    color: white;
    -webkit-text-stroke: 2px black;
    text-shadow: 4px 4px black;
}

.elementos{
    display: flex;
    list-style: none;
    justify-content: space-between;
    gap: 2rem;
}

#btnto {
    display: block;
    background-color: lightgreen;
    text-transform: uppercase;
    font-size: calc(2.5rem);
    font-weight: 990;
    color: white;
    -webkit-text-stroke: 2px black;
    text-shadow: 4px 4px black;
    border-radius: 30px;
    box-shadow: 2px 6px 10px rgb(0, 0, 0);
    padding: 10px;
}


.iconophosphor{
    transition: transform 0.3s ease;
}

.iconophosphor:hover{
    transform: scale(1.2);
}

@keyframes blur{
    from{
        opacity: 0;
        transform: translateY(30px);
    } 
}

@keyframes blur2{
    from{
        transform: translateX(-60px);
        opacity: .1;
    }
}

@media screen and (max-width : 700px) {
    .t1 {
        margin-top: 70px;
        font-size: 3rem;
    }
    
    
    .t2 {
        font-size: 1.5rem;
        max-width: 70%;
    }

    
    .divsegundo p {
        font-size: 1rem;
    }
    
}